html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  /* color: inherit; */
  text-decoration: none;
}

.h5 {
  font-size: 1rem;
  font-weight: bold;
}

.list-group .bg-spotify-current,
.list-group .bg-anilist-activity,
.list-group .bg-dota-recent {
  transition-duration: 0.4s;
  z-index: -1;
  object-fit: cover;
  top: 2rem;
}

.list-group:hover .bg-spotify-current,
.list-group:hover .bg-anilist-activity,
.list-group:hover .bg-dota-recent {
  top: 0;
}

.list-group-item {
  position: relative;
  padding: 0 !important;
  backdrop-filter: blur(10px);
  /* background: #ffffff33; */
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 2px 5px #0000001a;
}

.list-group-item-action:hover,
.list-group-item-action:active {
  color: var(--bs-list-group-action-active-color);
  background: rgba(255, 255, 255, 0.65);
}

.list-group-item-action2:hover,
.list-group-item-action2:active {
  color: var(--bs-list-group-action-active-color);
  background-color: var(--bs-list-group-action-active-bg);
}

.list-group-item-action3 {
  background: rgba(255, 255, 255, 0.8);
}

.list-group-item-action3:hover,
.list-group-item-action3:active {
  color: var(--bs-list-group-action-active-color);
  background: rgba(255, 255, 255, 0.6);
}

.list-group-item .spotify-image {
  width: 5.25rem;
  height: 5.25rem;
  object-fit: cover;
}

.list-group-item .dota-recent-image {
  width: 6.55rem;
  height: 3.75rem;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .col-xl-2_5 {
    flex: 0 0 auto;
    width: 20%;
  }
}
