:root {
  --bs-blue: #4b7bec;
  --bs-primary: #4b7bec;
  --bs-progress-bar-bg: #4b7bec;
  --bs-link-color: #4b7bec;
  --bs-link-hover-color: #3867d6;
  --bs-primary-rgb: 75, 123, 236;
  --custom-color-1: #16a085;
  --custom-color-2: #636e72;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  /* color: inherit; */
  text-decoration: none;
}

.text-link {
  color: var(--custom-color-1) !important;
}

.text-small {
  color: var(--custom-color-2) !important;
}

.text-hover:hover {
  color: var(--custom-color-1) !important;
}

.progress-bar-custom {
  color: var(--custom-color-1) !important;
  background-color: var(--custom-color-1) !important;
}

.h5 {
  font-size: 1rem;
  font-weight: bold;
}

.list-group .bg-spotify-current,
.list-group .bg-anilist-activity,
.list-group .bg-dota-recent {
  transition-duration: 0.4s;
  z-index: -1;
  object-fit: cover;
  top: 2rem;
}

.list-group .bg-spotify-current {
  top: 3.5rem;
}
.list-group .bg-anilist-activity {
  /* top: 5.5rem; */
  top: 0;
  right: calc(100% - 4.5rem);
  width: calc(100% - 4.5rem) !important;
}
.list-group .bg-dota-recent {
  /* top: 3.5rem; */
  top: 0;
  right: 0;
  width: 8% !important;
}

.list-group:hover .bg-spotify-current,
.list-group:hover .bg-anilist-activity,
.list-group:hover .bg-dota-recent {
  top: 0;
}

.list-group:hover .bg-spotify-current {
  top: 3.25rem;
}
.list-group:hover .bg-anilist-activity {
  /* top: 5.25rem; */
  top: 0;
  right: 0;
  width: calc(100% - 4.5rem) !important;
}
.list-group:hover .bg-dota-recent {
  /* top: 3.25rem; */
  top: 0;
  right: 0;
  width: 30% !important;
}

.list-group-item {
  position: relative;
  padding: 0 !important;
  backdrop-filter: blur(10px);
  /* background: #ffffff33; */
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 2px 5px #0000001a;
}

.list-group-item-action2 {
  backdrop-filter: blur(0px);
}

.list-group-item-action3 {
  backdrop-filter: blur(15px);
}

.list-group-item-action:hover,
.list-group-item-action:active {
  color: var(--bs-list-group-action-active-color);
  background: rgba(255, 255, 255, 0.5);
}

.list-group-item-action2:hover,
.list-group-item-action2:active {
  color: var(--bs-list-group-action-active-color);
  /* background-color: var(--bs-list-group-action-active-bg); */
  background: rgba(255, 255, 255, 0.7);
}

.list-group-item-action3 {
  background: rgba(255, 255, 255, 0.8);
}

.list-group-item-action3:hover,
.list-group-item-action3:active {
  color: var(--bs-list-group-action-active-color);
  /* background: rgba(255, 255, 255, 0.7); */
  /* background-color: var(--bs-list-group-action-active-bg); */
  background: rgba(255, 255, 255, 0.7);
}

.list-group-item .spotify-image {
  width: 5.25rem;
  height: 5.25rem;
  object-fit: cover;
}

.list-group-item .dota-recent-image {
  width: 4.6rem;
  height: 2.8rem;
  object-fit: cover;
}

.characterImage {
  width: 100%;
  height: 115px;
  object-fit: cover;
}

.animeImage {
  width: 100%;
  height: 115px;
  object-fit: cover;
}

.col-2_5 {
  flex: 0 0 auto;
  width: 20%;
}

.animate-spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fs-7 {
  font-size: 0.85rem;
}

@media (min-width: 992px) {
  .list-group-item .spotify-image {
    width: 5.25rem;
    height: 5.25rem;
  }

  .list-group-item .dota-recent-image {
    width: 6.6rem;
    height: 3.8rem;
  }
}

@media (min-width: 1200px) {
  .col-xl-2_5 {
    flex: 0 0 auto;
    width: 20%;
  }
}

@media (min-width: 992px) {
  .truncate-3-lines {
    display: -webkit-box; /* Membuat elemen menjadi kotak fleksibel */
    -webkit-line-clamp: 3; /* Membatasi teks hingga 3 baris */
    -webkit-box-orient: vertical; /* Mengatur orientasi kotak */
    overflow: hidden; /* Menyembunyikan teks yang melebihi 3 baris */
    text-overflow: ellipsis; /* Menambahkan "..." untuk teks yang terpotong */
  }
}
